//auth
.auth__main {
  align-items: center;
  background-color: $react;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;

}
.auth__box-container {
  background-color: $primary;
  width: 350px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px $white ;

}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 35px 15px;
}


.auth-form__icon {
  color: $primary;
  background-color: $white;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

  i {
    font-size: 35px ;
  }
}
.auth-form__title {
  color: $white;
  letter-spacing: 3px;
  margin-bottom: 16px;
}
.auth-form__input {
  border: 3px solid $white;
  background-color: lighten($color: $primary, $amount: 20);
  padding: 10px 20px;
  color: $secondary;
  font-weight: bolder;
  border-radius: 22px;
  margin-bottom: 16px;
  font-size: 14px;
  width: 280px;


  &:focus {
    outline: none;
    border: 3px solid lighten($color: $secondary, $amount: 20);
  }

  &::placeholder {
    color: lighten($color: $secondary, $amount: 20);
  }
}

.auth-register {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-register__title {
  color: $white;
  font-weight: lighter;
  margin-bottom: 4px;
}
.auth-register__link {
  color: $white;
  font-weight: lighter;
  text-decoration: none;
  border:1px solid  $white;
  padding: 4px 10px;
  border-radius: 15px;

  transition: border color .3s ease;

  &:hover {
    color: darken($color: $white, $amount: 20);
    border:1px solid  darken($color: $white, $amount: 20);
  }
}